.wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.form {
  font-size: 32px;
  color: #000;
  text-decoration: none;
}

.form:hover {
  text-decoration: underline;
}
