.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: black;
  text-decoration: none;
  width: 50%;
}

.errorButton {
  height: 30px;
  cursor: pointer;
}

.loading {
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
  color: green;
}

.error {
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
  color: red;
}

.modalLoading {
  position: fixed;
  top: 300px;
  right: 300px;
  font-size: 40px;
  color: green;
}
