.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.card {
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.title {
  margin-top: 10px;
  max-width: 200px;
  font-size: 18px;
  text-align: center;
}

.synopsis {
  width: 300px;
}

.modalTitle {
  font-size: 40px;
  color: red;
}
